{% extends 'base.html.twig' %}

{% block title %}SymfonyStart{% endblock %}

{% block body %}
    <header>
        <div class="logo">
            <a href="{{ path('app_main_page') }}"><span class="cms">SymfonyStart</span></a>
        </div>
        <div class="menu">
            <ul>
                <li class="first active"><a href="{{ path('app_main_page') }}">Profile</a></li>
                <li><a href="{{ path('app_search') }}">Search</a></li>
                <li><a class="avatar" href="{{ path('app_news') }}">News</a></li>rhe
                <li><a class="avatar" href="{{ path('app_account_edit') }}">Account</a></li>
            </ul>
        </div>
    </header>
    <div class="avatar">
        <div class="profileAvatar">
            <img src="{{ asset('uploads/images/' ~ account.avatar) }}" alt="" style="height: 100px">
        </div>
    </div>
    <div class="mainContainer">
        <div class="account">
            {{ form_start(accountForm) }}
            {{ form_row(accountForm.avatar) }}
            {{ form_row(accountForm.btn) }}
            {{ form_end(accountForm) }}
        </div>
    </div>
{% endblock %}
