{% extends 'base.html.twig' %}

{% block title %}SymfonyStart{% endblock %}

{% block body %}
<form method="post">


    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h1Sign">Sign in</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>
    {% if error %}
        <div class="alertDanger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">


    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
    <a class="regButton" href="{{ path('app_register') }}">Registration</a>
</form>
{% endblock %}
