{% extends 'base.html.twig' %}

{% block title %}SymfonyStart{% endblock %}

{% block body %}

    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_start(registrationForm, {attr: {class: 'regForm'}}) }}
    {{ form_row(registrationForm.login, {
        label: 'Login'}) }}
    {{ form_row(registrationForm.email, {attr: {class: 'email'}}) }}
    {{ form_row(registrationForm.plainPassword, {
        label: 'Password'
    }, {attr: {class: 'pswd'}}) }}

    <button type="submit" class="btn">Register</button>

    <a class="loginButton" href="{{ path('app_login') }}">Login</a>

    {{ form_end(registrationForm) }}
{% endblock %}
