* {
    margin: 0;
    padding: 0;
    color: #191c1f;
    box-sizing: border-box;
    font-family: Calibri, sans-serif;
}

a {
    font-weight: lighter;
    color: #9ba8b1;
    text-decoration: none;
}

p {
    margin: 7px;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    font-family: Calibri, sans-serif;
    align-items: center;
    background-color: #f4f5f7;
}

header {
    display: flex;
    width: 100%;
    height: auto;
    padding-bottom: 25px;
    box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.75);
    background-color: #ffffff;
    margin-bottom: 70px;
    align-items: baseline;
}

.logo {
    display: flex;
    width: auto;
    height: 50px;
    margin-left: 90px;
    font-size: 22px;
    padding-top: 20px;
}

.menu {
    display: flex;
    width: 100%;
    height: 50px;
    margin-left: 70px;
}

.menu ul {
    display: flex;
    width: 90%;
    height: auto;
    justify-content: space-around;
    padding-top: 20px;
}

.menu ul li {
    list-style: none;
    font-size: 18px;
}

.form {
    display: flex;
    margin-top: 150px;
    flex-direction: column;
    width: 350px;
    justify-content: center;
}

input {
    margin: 7px 0;
    padding: 7px;
    border: none;
    border-bottom: 2px solid #e2e2e2;
    outline: none;
}

button {
    padding: 10px;
    background: #e2e2e2;
    border: none;
    cursor: pointer;
}

.msg {
    border: 2px solid #e23700;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
}

.logout {
    background: #e2e2e2;
    width: 60px;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    padding: 7px;
    align-self: flex-end;
}

.mainContainer {
    height: auto;
    background-color: #ffffff;
    display: flex;
    width: 980px;
    justify-content: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 20px;
}

.profile {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.homeForm {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.login {
    width: 100%;
    font-weight: normal;
    margin-bottom: 20px;
}

.data {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-bottom: 50px;
}

.regButton {
    align-self: self-end;
}

.loginButton {
    align-self: self-end;
}

form {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 20px;
}

form div {
    width: 100%;
    display: flex;
    flex-direction: column;

}

form div {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.h1Sign {
    align-self: center;
}

#registration_form_email {
    width: 100%;
}

#registration_form_plainPassword {
    display: flex;
    width: 100%;
}

.regForm {
    width: 350px;
}


div.alertDanger {
    width: 100%;
    height: 40px;
    border: 2px solid #e23700;
    border-radius: 7px;
    text-align: center;
    margin-bottom: 5px;
    line-height: 35px;
}

.regForm div {
    width: 100%;
}

.regForm div:nth-child(4) {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
}

.regForm div ul {
    width: 100%;
    height: 40px;
    border: 2px solid #e23700;
    border-radius: 7px;
    text-align: center;
    margin-bottom: 5px;
    line-height: 35px;
    align-items: baseline;
    list-style-type: none;
}

.addNews {
    height: auto;
    background-color: #ffffff;
    width: 980px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-radius: 5px;
}

.addNews label textarea {
    resize: none;
    width: 100%;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.addNews label {
    width: 90%;
    display: block;
    cursor: pointer;
    border: none;
}

.formNews .file {
    width: 32px;
}

.formNews label {
    height: auto;
    width: 400px;
    border: none;
}

.formNews {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: end;
}

.post {
    display: flex;
    flex-direction: column;
    width: 980px;
    background-color: #ffffff;
    margin-bottom: 50px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
}

.account {
    width: auto;
    display: flex;
}

.users {
    width: 310px;
    background-color: #fff;
    border-radius: 50px;
    display: flex;
}

.searchAvatar {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

.searchLogin {
    margin-left: 20px;
}

.homeFormProfile {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.profileAvatar {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
}

.postContent h1{
    font-size: 20px;
    font-weight: 300;
}

.postDate {
    width: auto;
    display: flex;
    align-self: flex-end;
}

.date{
    display: flex;
    align-self: flex-end;
    font-size: 10px;
    font-weight: 300;
}

.loginAvatar{
    width: auto;
    height: 30px;
    display: flex;
    align-items: end;
    margin-bottom: 20px;
}

.loginAvatar h1 {
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}