{% extends 'base.html.twig' %}

{% block title %}SymfonyStart{% endblock %}

{% block body %}
    <header>
        <div class="logo">
            <a href="{{ path('app_main_page') }}"><span class="cms">SymfonyStart</span></a>
        </div>
        <div class="menu">
            <ul>
                <li class="first active"><a href="{{ path('app_main_page') }}">Profile</a></li>
                <li><a href="{{ path('app_search') }}">Search</a></li>
                <li><a class="avatar" href="{{ path('app_news') }}">News</a></li>
                <li><a href="{{ path('app_account_edit') }}">Account</a></li>
            </ul>
        </div>
    </header>

    {{ form_start(searchForm) }}
    {{ form_end(searchForm) }}

    {% if users is not defined %}
        Find a user by his Login
    {% else %}
        <div class="users">
            <div class="searchAvatar">
                <img src="{{ asset('uploads/images/' ~ users.account.avatar) }}" alt="" style="width: 50px;">
            </div>
            <div class="searchLogin">
                <a href="{{ path('app_account_profile', {'login': users.login}) }}"
                   style="color: #222222;">{{ users.login }}</a>
            </div>
        </div>
    {% endif %}

{% endblock %}
