{% extends 'base.html.twig' %}

{% block title %}SymfonyStart{% endblock %}

{% block body %}
    <header>
        <div class="logo">
            <a href="{{ path('app_main_page') }}"><span class="cms">SymfonyStart</span></a>
        </div>
        <div class="menu">
            <ul>
                <li class="first active"><a href="{{ path('app_main_page') }}">Profile</a></li>
                <li><a href="{{ path('app_search') }}">Search</a></li>
                <li><a class="avatar" href="{{ path('app_news') }}">News</a></li>
                <li><a class="avatar" href="{{ path('app_account_edit') }}">Account</a></li>
            </ul>
        </div>
    </header>

    <div class="news">
        {% for posts in pagination %}

            {% for post in posts.posts %}

                <div class="post">
                    <div class="loginAvatar">
                        <img src="{{ asset('uploads/images/' ~ posts.account.avatar) }}" alt="" style="height: 30px">
                        <h1 class="login" style="align-self: flex-end">@{{ posts.login }}</h1>
                        <div class="postDate">
                            <h1 class="date">{{ post.date }}</h1>
                        </div>
                    </div>
                    <div class="postContent">
                        <h1>{{ post.text }}</h1>
                        <img class="postImg" src="{{ asset('uploads/images/' ~ post.image) }}" alt=""
                             style="max-width: 50%">
                    </div>
                </div>
            {% endfor %}

        {% endfor %}
    </div>

{% endblock %}
