{% extends 'base.html.twig' %}

{% block title %}SymfonyStart{% endblock %}

{% block body %}

    <header>
        <div class="logo">
            <a href="{{ path('app_main_page') }}"><span class="cms">SymfonyStart</span></a>
        </div>
        <div class="menu">
            <ul>
                <li class="first active"><a href="{{ path('app_main_page') }}">Profile</a></li>
                <li><a href="{{ path('app_search') }}">Search</a></li>
                <li><a class="avatar" href="{{ path('app_news') }}">News</a></li>
                <li><a href="{{ path('app_account_edit') }}">Account</a></li>
            </ul>
        </div>
    </header>
    <div class="mainContainer">
        <div class="homeForm">
            <div class="profileAvatar">
                <img src="{{ asset('uploads/images/' ~ account.avatar) }}" alt="" style="height: 150px">
            </div>
            <div class="data">
                <h1 class="login">Your login: @{{ app.user.login }}</h1>
                Your email: {{ app.user.email }}
            </div>
            <a href="{{ path('app_logout') }}" class="logout">Выход</a>
        </div>
    </div>

    {{ form_start(postForm) }}
    {{ form_row(postForm.text) }}
    {{ form_row(postForm.image) }}
    {{ form_row(postForm.btn) }}
    {{ form_end(postForm) }}

    <div class="news">
        {% for posts in pagination %}
            <div class="post">
                <div class="postDate">
                    <h1 class="date">{{ posts.date }}</h1>
                </div>
                <div class="postContent">
                    <h1>{{ posts.text }}</h1>
                    <img class="postImg" src="{{ asset('uploads/images/' ~ posts.image) }}" alt=""
                         style="max-width: 50%">
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="page">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}
